extends layout.pug

block content
  table.ui.celled.table.center.aligned
    thead
      tr
        th image
        th name
        th ID
        th eth exchange rate
        th usd exchange rate
        th pln exchange rate
        th last updated
    tbody
      tr
        td
          img.ui.mini.rounded.image(src=coin_info.image)
        td #{coin_info.name}
        td #{coin_info.id}
        td #{coin_info.eth_er}
        td #{coin_info.usd_er}
        td #{coin_info.pln_er}
        td #{coin_info.last_updated}
    tfoot
      tr
        th(colspan='7')